<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Employee Only</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <style type="text/css">
        body{ font: 14px sans-serif; }
        .wrapper{ width: 350px; padding: 20px; }
    </style>
</head>
<body>
 	<script>
 		var emailID = 0;
 		function emailButton(){
 			emailID++;
 			var html = '<input type="text" name="Email" class="form-control" /> ' +
             '<a href="" onclick="javascript:removeElement(emailID); return false;">Remove</a>';
             addElement('emails', 'p', emailID, html);
         }
         function addElement(parentId, elementTag, elementId, html) {
         // Adds an element to the document
         var p = document.getElementById(parentId);
         var newElement = document.createElement(elementTag);
         newElement.setAttribute('id', elementId);
         newElement.innerHTML = html;
         p.appendChild(newElement);
     }
     function removeElement(elementId) {
     // Removes an element from the document
     var element = document.getElementById(elementId);
  element.parentNode.removeChild(element);
}
function addEmail() {
  var x = document.createElement('newemail');
  x.setAttribute("type", "text");
  x.setAttribute("class", "form-control");
  x.setAttribute("id", elementId)
  document.getElementById('emails').appendChild(x);
}
</script>
    <div class="wrapper">
        <h2>Register Employee Only</h2>
        <form action="{{ url_for('register_employee') }}" method="POST">
            <div class="form-group">
                <p>
                <label>First Name</label>
                <input type="text" name="FirstName" class="form-control" required/>
                <label>Last Name</label>
                <input type="text" name="LastName" class="form-control" required/>
                </p>
            </div>
            <div class="form-group">
                <label>Username</label>
                <input type="text" name="UserName" class="form-control" required/>
            </div>
       			<fieldset>
			          <p>
			             <label>Employee Type</label>
						 <br>
			             <select id = "myList" name = "EmployeeType" required>
				               <option value = "1">Manager</option>
				               <option value = "2">Staff</option>
				         </select>
			          </p>
       			</fieldset>
            <div class="form-group">
                <label>Password</label>
                <input type="password" name="password" class="form-control" required/>
                <label>Confirm Password</label>
                <input type="password" name="password" class="form-control" required/>
            </div>
			<div class="form-group">
                <label>Phone</label>
                <input type="text" name="phone" class="form-control" required/>
                <label>Address</label>
                <input type="text" name="address" class="form-control" required/>
            </div>
			<div class="form-group">
                <label>City</label>
                <input type="text" name="city" class="form-control" required/>

	       			<fieldset>
				          <p>
				             <label>State</label>
							 <br>
				             <select id = "myList" name = "state" required>
		               <option value = "AK">AK</option>
		               <option value = "AL">AL</option>
								   <option value = "AR">AR</option>
								   <option value = "AZ">AZ</option>
								   <option value = "CA">CA</option>
								   <option value = "CO">CO</option>
								   <option value = "CT">CT</option>
								   <option value = "DE">DE</option>
								   <option value = "FL">FL</option>
								   <option value = "GA">GA</option>
								   <option value = "HI">HI</option>
								   <option value = "IA">IA</option>
								   <option value = "ID">ID</option>
								   <option value = "IL">IL</option>
								   <option value = "IN">IN</option>
								   <option value = "KS">KS</option>
								   <option value = "KY">KY</option>
								   <option value = "LA">LA</option>
								   <option value = "MA">MA</option>
								   <option value = "MD">MD</option>
								   <option value = "ME">ME</option>
								   <option value = "MI">MI</option>
								   <option value = "MN">MN</option>
								   <option value = "MO">MO</option>
								   <option value = "MS">MS</option>
								   <option value = "MT">MT</option>
								   <option value = "NC">NC</option>
								   <option value = "ND">ND</option>
								   <option value = "NE">NE</option>
								   <option value = "NH">NH</option>
								   <option value = "NJ">NJ</option>
								   <option value = "NM">NM</option>
								   <option value = "NV">NV</option>
								   <option value = "NY">NY</option>
								   <option value = "OH">OH</option>
								   <option value = "OK">OK</option>
								   <option value = "OR">OR</option>
								   <option value = "PA">PA</option>
								   <option value = "RI">RI</option>
								   <option value = "SC">SC</option>
								   <option value = "SD">SD</option>
								   <option value = "TN">TN</option>
								   <option value = "TX">TX</option>
								   <option value = "UT">UT</option>
								   <option value = "VA">VA</option>
								   <option value = "VT">VT</option>
								   <option value = "WA">WA</option>
								   <option value = "WI">WI</option>
								   <option value = "WV">WV</option>
								   <option value = "WY">WY</option>
								   <option value = "Other">Other</option>
					         </select>
				          </p>
	       			</fieldset>

				<label>Zipcode</label>
                <input type="text" name="zipcode" class="form-control" required/>
            </div>
            <label>Email</label>
            <div class="form-group" id = "emails">
                <input type="text" name="Email" class="form-control" required/>
                <input type="submit" onclick="emailButton()" class="btn btn-primary" value="Add" name="Add" formnovalidate/>
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Back" name="back" formnovalidate />
                <input type="submit" class="btn btn-primary" value="Register" name="Register" />
            </div>
        </form>
    </div>
</body>
</html>
