<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Manage Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <style type="text/css">
        body{ font: 14px sans-serif; }
        .wrapper{ width: 350px; padding: 20px; }
    </style>
</head>
<body>
    <div class="wrapper">
        <h2>Manage Site</h2>
        <form action="{{ url_for('admin_manage_site') }}" method="POST">
				<fieldset>
					  <p>
						 <label>Site</label>
						 <br>
						 <select id = "myList" name='site_names'>
							 {% for x in site_list %}
						  <option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
						  {% endfor %}
						 </select>
					  </p>
					  <p>
						 <label>Manager</label>
						 <br>
						 <select id = "myList" name='manager_names'>
							 {% for x in manager_list %}
 							<option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
 							{% endfor %}
						 </select>
					  </p>
					  <p>
						 <label>Open Everyday</label>
						 <br>
						 <select id = "myList">
							   <option value = "1">Yes</option>
							   <option value = "1">No</option>
						 </select>
					  </p>
				</fieldset>
				<div class="form-group">
					<input type="submit" class="btn btn-primary" value="Filter" name="Filter" />
					<br><br>
					<input type="submit" class="btn btn-primary" value="Create" name="Create" />
					<input type="submit" class="btn btn-primary" value="Edit" name="Edit" />
					<input type="submit" class="btn btn-primary" value="Delete" name="Delete" />

            <div class="form-group">
				<br><input type="submit" class="btn btn-primary" value="Back" name="back" />
            </div>
        </form>
    </div>
</body>
</html>
