<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create Site</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <style type="text/css">
        body{ font: 14px sans-serif; }
        .wrapper{ width: 350px; padding: 20px; }
    </style>
</head>
<body>
    <div class="wrapper">
        <h2>Create Site</h2>
        <form action="{{ url_for('create_site') }}" method="POST">
            <div class="form-group">
                <p>
                <label>Name</label>
                <input type="text" name="name" class="form-control" required/>
                </p>
            </div>
            <div class="form-group">
                <label>Zipcode</label>
                <input type="text" name="zipcode" class="form-control" required/>
            </div>
			<div class="form-group">
                <label>Address</label>
                <input type="text" name="address" class="form-control" />
            </div>
       			<fieldset>
			          <p>
			             <label>Manager</label>
						 <br>
			             <select id = "myList" name='unassigned_manager_names' required>
							 {% for x in unassigned_manager_list %}
 							<option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
 							{% endfor %}
				         </select>
			          </p>
       			</fieldset>
				<input type="checkbox" id="open_everyday" name="checkbox" checked>
				<label for="open_everyday">Open Everyday</label>
			<br>
            <div class="form-group">
                <input type="submit" class="btn btn-primary" value="Back" name="back" formnovalidate/>
                <input type="submit" class="btn btn-primary" value="Create" name="create" />
            </div>
        </form>
    </div>
</body>
</html>
