<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Manage Transit</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <style type="text/css">
        body{ font: 14px sans-serif; }
        .wrapper{ width: 350px; padding: 20px; }
    </style>
</head>
<body>
    <div class="wrapper">
        <h2>Manage Transit</h2>
        <form action="{{ url_for('admin_manage_transit') }}" method="POST">
				<fieldset>
					  <p>
						 <label>Transport Type</label>
						 <br>
						 <select id = "transport" name='transport_types'>
							 {% for x in transit_type_list %}
 							<option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
 							{% endfor %}
						 </select>
					  </p>
					  <label>Route</label>
	                  <input type="text" name="route" class="form-control" />
					  <p>
						 <label>Contain Site</label>
						 <br>
						 <select id = "site" name='site_names'>
							 {% for x in site_list %}
 							<option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
 							{% endfor %}
						 </select>
					  </p>
					  <label>Min Price</label>
	                  <input type="text" name="min_price" class="form-control" />
					  <label>Max Price</label>
	                  <input type="text" name="max_price" class="form-control" />
				</fieldset>
				<div class="form-group">
					<br>
					<input type="submit" class="btn btn-primary" value="Filter" name="Filter" />
					<br><br>
					<input type="submit" class="btn btn-primary" value="Create" name="Create" />
					<input type="submit" class="btn btn-primary" value="Edit" name="Edit" />
					<input type="submit" class="btn btn-primary" value="Delete" name="Delete" />

            <div class="form-group">
				<br><input type="submit" class="btn btn-primary" value="Back" name="back" />
            </div>
        </form>
    </div>
</body>
</html>
