<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Manager Manage Event</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <style type="text/css">
        body{ font: 14px sans-serif; }
        .wrapper{ width: 350px; padding: 20px; }
    </style>
</head>
<body>
    <div class="wrapper">
        <h2>Manage Event</h2>
        <form action="{{ url_for('manager_manage_event') }}" method="POST">
			<div class="form-group">
                <label>Name</label>
                <input type="text" name="name" class="form-control" />

                <label>Description Keyword</label>
                <input type="text" name="keyword" class="form-control" />
			</div>

			<div class="form-group">
                <label>Start Date</label>
                <input type="text" name="start_date" class="form-control" />

                <label>End Date</label>
                <input type="text" name="end_date" class="form-control" />

				<div class="form-group">
	                <label>Duration Min</label>
	                <input type="text" name="duration_min" class="form-control" />
					<label>Duration Max</label>
	                <input type="text" name="duration_max" class="form-control" />

					<label>Total Visits Min</label>
	                <input type="text" name="duration_min" class="form-control" />
					<label>Total Visits Max</label>
	                <input type="text" name="duration_max" class="form-control" />

					<label>Total Revenue Min</label>
	                <input type="text" name="duration_min" class="form-control" />
					<label>Total Revenue Max</label>
	                <input type="text" name="duration_max" class="form-control" />
				</div>
			</div>
			<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Filter" name="filter" formnovalidate/><br><br>
				<input type="submit" class="btn btn-primary" value="Create" name="create" />
				<input type="submit" class="btn btn-primary" value="View/Edit" name="view_edit" />
				<input type="submit" class="btn btn-primary" value="Delete" name="delete" />
            </div>
        </form>
		<div class="form-group">
			<input type="submit" class="btn btn-primary" value="Back" name="back" formnovalidate/><br><br>
		</div>
    </div>
</body>
</html>
