<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Staff Event Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <style type="text/css">
        body{ font: 14px sans-serif; }
        .wrapper{ width: 350px; padding: 20px; }
    </style>
</head>
<body>
    <div class="wrapper">
        <h2>Event Detail</h2>
        <form action="{{ url_for('staff_event_detail') }}" method="POST">
        		<div class="form-group">
				<input type="submit" class="btn btn-primary" value="Back" name="back" />
            	</div>
        </form>
    </div>
</body>
</html>
