<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Visitor Transit Detail</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.css">
    <style type="text/css">
        body{ font: 14px sans-serif; }
        .wrapper{ width: 350px; padding: 20px; }
    </style>
</head>
<body>
    <div class="wrapper">
        <h2>Transit Detail</h2>
        <form action="{{ url_for('visitor_transit_detail') }}" method="POST">
					<div class="form-group">
						<p>
							 <label>Transport Type</label>
							 <br>
						 	<select id = "transport" name='transport_types'>
								{% for x in transit_type_list %}
								<option value="{{ x }}"{% if loop.first %} SELECTED{% endif %}>{{ x }}</option>
								{% endfor %}
						 	</select>
						</p>
					</div>

					<div class="form-group">
						<input type="submit" class="btn btn-primary" value="Back" name="back" formnovalidate/>
						<label>Transit Date</label>
						<input type="text" name="transit_date" class="form-control" required/>
						<input type="log_transit" class="btn btn-primary" value="Log Transit" name="log_transit" />
            		</div>
        </form>
    </div>
</body>
</html>
